**/*.out
**/a.out
**/*.swp
**/*.swo

**/.obj
**/*.o
**/*.d
**/*.s
**/*.gch
**/*.gdbhistory
**/minishell
**/minishell_evalsheet.pdf

**/*.clang
**/*.code
**/*.vscode

**/input
**/output

**/test
**/res
**/resultat
**/log

