**/*.out
**/a.out
**/*.swp
**/*.swo

**/.obj
**/*.a
**/*.o
**/*.a
**/*.d
**/*.s
**/*.gch
**/*.gdbhistory
**/minishell
**/minishell_tests
**/minishell_evalsheet.pdf

**/*.clang
**/*.code
**/*.vscode

**/input
**/output

**/test
**/res
**/resultat
**/log

pipex/lib/libpipex.a
